/*## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700*/
body {
  background: hsl(218, 22%, 67%);
}
.grid {
  display: grid;
  width: 700px;
  grid-template-areas:
    "grid-1 grid-1 grid-1"
    "grid-2 grid-3 grid-3"
    "grid-2 grid-3 grid-3";
  margin: 100px auto;
}
.grid-1 {
  grid-area: grid-1;
  background-color: hsl(204, 43%, 93%);
  padding: 20px;
  font-weight: 400;
  font-family: Karla;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid-1 h2 {
  color: hsl(179, 62%, 43%);
}
.grid-1 h3 {
  color: hsl(71, 73%, 54%);
}
.grid-1 p {
  opacity: 0.3;
}
.grid-2 {
  grid-area: grid-2;
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
  color: hsl(204, 43%, 93%);
  font-family: Karla;
  font-weight: 700;
  border-bottom-left-radius: 10px;
}
.grid strong {
  font-size: 30px;
}
.grid-3 {
  grid-area: grid-3;
  background-color: hsl(179, 62%, 43%);
  padding: 20px;
  opacity: 0.5;
  color: hsl(204, 43%, 93%);
  font-family: Karla;
  font-weight: 700;
  border-bottom-right-radius: 10px;
}
.btn {
  background-color: hsl(71, 73%, 54%);
  border: none;
  width: 250px;
  border-radius: 5px;
  line-height: 2.5;
  color: hsl(204, 43%, 93%);
  font-size:20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 500px) {
  .grid {
    grid-template-areas:
      "grid-1 grid-1"
      "grid-2 grid-2"
      "grid-3 grid-3";
    width: 300px;
  }
  .grid-2 {
    border-bottom-left-radius: 0;
  }
  .grid-3 {
    border-bottom-left-radius: 10px;
  }
}
